<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    {% extends 'index.html' %}

    {% block content %}
    <section id="contact" class="contact-section">
        <div class="contact-form">
            <h1>Contact</h1>
            <p>Want to conect with me? I'd love to hear from you!</p>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <p class="alert alert-{{ category }}">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <form action="/contact" method="POST">
                <div class="form-group">
                    {% if errors %}
                        <input type="text" name="name" id="name" value="{{ request.form.get('name', '') }}" required>
                    {% else %}
                        <input type="text" name="name" id="name" required>
                    {% endif %}
                    <label for="name">Name</label>
                </div>
                <div class="form-group">
                    {% if errors %}
                        <input type="email" name="email" id="email" value="{{ request.form.get('email', '') }}" required>
                    {% else %}
                        <input type="email" name="email" id="email" required>
                    {% endif %}
                    <label for="email">Email</label>
                </div>
                <div class="form-group">
                    {% if errors %}
                        <input type="text" name="subject" id="subject" value="{{ request.form.get('subject', '') }}" required>
                    {% else %}
                        <input type="text" name="subject" id="subject" required>
                    {% endif %}
                    <label for="subject">Subject</label>
                </div>
                <div class="form-group">
                    {% if errors %}
                        <textarea name="message" id="message" required>{{ request.form.get('message', '') }}</textarea>
                    {% else %}
                        <textarea name="message" id="message"  required></textarea>
                    {% endif %}
                    <label for="message">Message</label>
                </div>

                <button type="submit"><span>Send Message</span></button>
            </form>
            {% if success %}
                <div class="success-message">
                    Thank you for your message! We'll get back to you soon.
                </div>
            {% endif %}
            {% if error %}
                <div class="error-message">
                    There was an error sending your message. Please try again later.
                </div>
            {% endif %}

        </div>
        <div class="contact-info">
            <h2>Get in Touch</h2>
            <p data-label="Email"><i class="fa-solid fa-envelope"></i> laraibansari1214@gmail.com</p>
            <p><i class="fas fa-phone"></i> +91 9711034857</p>
            <p><i class="fas fa-map-marker-alt"></i> Delhi, India</p>
        </div>
    </section>

    {% endblock %}




    {% block code %}
    <script>
        // menu
        function toggleMenu() {
            const menu = document.getElementById('nav-menu');
            const body = document.body;
            const hamburger = document.querySelector('.hamburger');
            menu.classList.toggle('active');
            body.classList.toggle('menu-open');
            hamburger.classList.toggle('active');
        }
    </script>

    {% endblock %}
</body>
</html>